.menubanner {
  margin: 47px 0px 0px;
  padding: 20px 0px 10px;
  font-size: 40px;
  color: $Dwhite;
  text-shadow: 2px 2px 3px $Dshadow;
  background-color: $Dgray;
  text-align: center;
}
.menusubti {
  font-size: 30px;
  margin: 0px;
  padding-top: 30px;
  color: $Dwhite;
  text-shadow: 2px 2px 5px $Dshadow;
  text-align: center;
}

.galcom {
  margin-bottom: 0px;
  padding: 20px 35px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-row-gap: 20px;
}
.item {
  box-shadow: 2px 2px 3px $Dshadow;
  background-image: url(./img/placeholder.webp);
  background-size: cover;
  background-position: center;
  border: 3px solid $Dorange;
  border-radius: 3px;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.01);
  }
}

//IMAGENES
  .comrap1 {
    background-image: url(./img/comrap1.webp);
  }
  .comrap2 {
    background-image: url(./img/comrap2.webp);
  }
  .comrap3 {
    background-image: url(./img/comrap3.webp);
  }
  .postre1 {
    background-image: url(./img/postres1.webp);
  }
  .postre2 {
    background-image: url(./img/postres2.webp);
  }
  .postre3 {
    background-image: url(./img/postres3.webp);
  }
  .vegan1 {
    background-image: url(./img/vegan1.webp);
  }
  .vegan2 {
    background-image: url(./img/vegan2.webp);
  }
  .vegan3 {
    background-image: url(./img/vegan3.webp);
  }
//FIN IMAGENES

.galcom3 {
  padding-bottom: 40px;
}

@media only screen and (min-width: 570px) and (max-width: 869px){

  .galcom{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;

    .comrap3, .postre3, .vegan3{
      grid-column: 1/3;
      grid-row: -3/-1;
    }
  }

}

@media only screen and (min-width: 870px) and (max-width: 1249px){

  .galcom{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 200px);
    grid-gap: 30px;
  }
}

@media only screen and (min-width: 1250px){

  .galcom{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 200px);
    grid-gap: 30px;

    .item{
      grid-row: -3/-1;
    }
  }

}