.bannernos {
  margin-top: 47px;
  height: 70px;
  background-color: $Dgray;
  background-size: cover;
  background-position: bottom;
  color: $Dwhite;
  text-align: center;

  .nostitle {
    margin-top: 15px;
    font-size: 40px;
    text-shadow: 2px 2px 3px $Dshadow;
  }
}
.textnos {
  padding: 13px;
  color: $Dwhite;
  text-shadow: 2px 2px 3px $Dshadow;
  font-weight: lighter;
  font-size: large;
}
.imgnos {
  border-radius: 3px;
  box-shadow: 2px 2px 3px $Dshadow;
  margin-bottom: 30px;
  background-image: url(../img/placeholder.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}
.imgnos1 {
  background-image: url(./img/nosotros1.webp);
}
.imgnos2 {
  background-image: url(./img/nosotros2.webp);
}

@media only screen and (min-width: 575px){
  .imgnos{
    height: 300px;
  }
}

@media only screen and (min-width: 750px){
  .imgnos{
    height: 400px;
  }
}

@media only screen and (min-width: 1000px){
  .imgnos{
    height: 600px;
  }

  .textnos{
    padding: 20px;
  }
}

@media only screen and (min-width: 1270px){
  .imgnos{
    height: 700px;
    max-width: 80%;
  }
}