@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(51, 55, 69);
  background-image: linear-gradient(to right bottom, rgba(255, 153, 0, 0.7), rgba(29, 69, 199, 0.7));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  z-index: 100;
  width: 100%;
  position: fixed !important;
}

.navbar {
  padding-bottom: 3px;
  background-color: rgb(43, 120, 228) !important;
  color: rgb(245, 245, 245);
}
.navbar .container {
  padding: 0;
}
.navbar .container .logo {
  padding-left: 15px;
  font-size: x-large;
  color: rgb(245, 245, 245);
}
.navbar .container .logo span {
  color: rgb(255, 153, 0);
}
.navbar .nav-item {
  padding-left: 15px;
}
.navbar .nav-link {
  color: rgb(245, 245, 245) !important;
  transition: all 0.4s;
}
.navbar .nav-link:hover {
  color: rgb(255, 153, 0) !important;
}
.navbar .navbar-toggler {
  font-size: 20px;
  border: none;
  color: rgb(245, 245, 245) !important;
  transition: all 0.4s;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  color: rgb(255, 153, 0) !important;
}

footer {
  background-color: rgb(43, 120, 228);
  width: 100%;
  margin-top: auto;
  bottom: 0;
  color: rgb(245, 245, 245);
  text-align: center;
  padding: 10px;
}
footer .redeslink {
  font-size: 25px;
  text-decoration: none;
  word-spacing: 10px;
  color: rgb(245, 245, 245);
  transition: all 0.5s;
}
footer .redeslink:hover {
  color: rgb(255, 153, 0);
}
footer .redeslink:hover .copy {
  margin-top: 5px;
}
footer .redeslink:hover .redes {
  margin-top: 5px;
}

#carousel {
  margin-top: 47px;
}

.indexsect {
  display: flex;
  flex-flow: wrap column;
  margin: 20px;
  margin-bottom: 40px;
}
.indexsect .card {
  margin-top: 20px;
  background: none;
  transition: all 0.3s;
}
.indexsect .card:hover {
  transform: scale(1.01);
}
.indexsect .card .card-title {
  font-size: x-large;
}
.indexsect .card .card-img-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.indexsect .card .card-body {
  color: rgb(245, 245, 245);
  background-color: rgb(255, 153, 0);
  margin: 0;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.indexsect .card .card1 {
  margin-top: 10px;
}
.indexsect .card .btn {
  padding-top: 8px;
  display: block;
  color: rgb(245, 245, 245);
  background-color: rgb(43, 120, 228);
  transition: all 0.5s;
}
.indexsect .card .btn:hover {
  color: rgb(245, 245, 245);
  background-color: rgb(29, 69, 199);
}

.menubanner {
  margin: 47px 0px 0px;
  padding: 20px 0px 10px;
  font-size: 40px;
  color: rgb(245, 245, 245);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.385);
  background-color: rgb(255, 153, 0);
  text-align: center;
}

.menusubti {
  font-size: 30px;
  margin: 0px;
  padding-top: 30px;
  color: rgb(245, 245, 245);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.385);
  text-align: center;
}

.galcom {
  margin-bottom: 0px;
  padding: 20px 35px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-row-gap: 20px;
}

.item {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.385);
  background-image: url(../img/placeholder.webp);
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(255, 153, 0);
  border-radius: 3px;
  transition: all 0.4s;
}
.item:hover {
  transform: scale(1.01);
}

.comrap1 {
  background-image: url(../img/comrap1.webp);
}

.comrap2 {
  background-image: url(../img/comrap2.webp);
}

.comrap3 {
  background-image: url(../img/comrap3.webp);
}

.postre1 {
  background-image: url(../img/postres1.webp);
}

.postre2 {
  background-image: url(../img/postres2.webp);
}

.postre3 {
  background-image: url(../img/postres3.webp);
}

.vegan1 {
  background-image: url(../img/vegan1.webp);
}

.vegan2 {
  background-image: url(../img/vegan2.webp);
}

.vegan3 {
  background-image: url(../img/vegan3.webp);
}

.galcom3 {
  padding-bottom: 40px;
}

.bannernos {
  margin-top: 47px;
  height: 70px;
  background-color: rgb(255, 153, 0);
  background-size: cover;
  background-position: bottom;
  color: rgb(245, 245, 245);
  text-align: center;
}
.bannernos .nostitle {
  margin-top: 15px;
  font-size: 40px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.385);
}

.textnos {
  padding: 13px;
  color: rgb(245, 245, 245);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.385);
  font-weight: lighter;
  font-size: large;
}

.imgnos {
  margin-bottom: 30px;
  background-image: url(../img/placeholder.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.imgnos1 {
  background-image: url(../img/nosotros1.webp);
}

.imgnos2 {
  background-image: url(../img/nosotros2.webp);
}

.forminises {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px;
  width: 350px;
  max-width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: rgb(43, 120, 228);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.385);
}
.forminises .inisestitle {
  color: rgb(245, 245, 245);
  text-align: center;
  margin-bottom: 10px;
}
.forminises .inisestitle span {
  color: rgb(255, 153, 0);
  font-weight: bold;
}
.forminises input {
  width: 100%;
  padding: 5px 5px 3px;
  margin-top: 8px;
  border-radius: 2px;
  outline: none;
  border: 2px inset rgb(255, 153, 0);
  background-color: rgb(43, 120, 228);
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.forminises ::-moz-placeholder {
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.forminises ::placeholder {
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.forminises .btncont {
  border: none;
  border-radius: 4px;
  margin: 15px;
  margin-top: 20px;
  width: 40%;
  text-align: center;
  padding: 7px 0px 4px;
  color: rgb(245, 245, 245);
  background-color: rgb(255, 153, 0);
  transition: all 0.4s;
}
.forminises .btncont:hover {
  background-color: rgb(250, 92, 18);
}
.forminises .option {
  margin: 0px;
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.forminises .option a {
  color: rgb(255, 153, 0);
  font-weight: normal;
}

.formregister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px;
  width: 450px;
  max-width: 85%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(43, 120, 228);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.385);
}
.formregister .registertitle {
  color: rgb(245, 245, 245);
  text-align: center;
  margin-bottom: 10px;
}
.formregister .registertitle span {
  color: rgb(255, 153, 0);
  font-weight: bold;
}
.formregister .desc {
  color: rgb(245, 245, 245);
  font-weight: lighter;
  font-size: medium;
  text-align: center;
}
.formregister input {
  width: 100%;
  padding: 5px 5px 3px;
  margin-top: 8px;
  border-radius: 2px;
  outline: none;
  border: 2px inset rgb(255, 153, 0);
  background-color: rgb(43, 120, 228);
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.formregister ::-moz-placeholder {
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.formregister ::placeholder {
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.formregister .btncont {
  border: none;
  border-radius: 4px;
  margin: 15px;
  margin-top: 20px;
  width: 40%;
  text-align: center;
  padding: 7px 0px 4px;
  color: rgb(245, 245, 245);
  background-color: rgb(255, 153, 0);
  transition: all 0.4s;
}
.formregister .btncont:hover {
  background-color: rgb(250, 92, 18);
}
.formregister .option {
  margin: 0px;
  color: rgb(245, 245, 245);
  font-weight: lighter;
}
.formregister .option a {
  color: rgb(255, 153, 0);
  font-weight: normal;
}/*# sourceMappingURL=estilos.css.map */